 /* Overlay full screen */
#loader-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

/* Animasi loader */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
} 
.flash-message {
    position: fixed!important;
    bottom: var(--navbar-height, 100px);
    left: 5%;
    width : 90%;
    /* transform: translateX(-50%); */
    z-index: 1055; 
    padding: 12px 20px;
    border-radius: 8px;
}
.avatar{
    width:50px;
    height:50px;
    border-radius:100%;
    object-fit:cover;
    object-position: top; /* fokus ke atas */
    background:white;
    padding : 4px;
}
.bg-gradient-blue{
    background: #1d6ee5;
    color: white !important;
}
.fs-67{
    font-size: .7rem !important;
}
.navbar-top{
    position: fixed!important;
    top:0;
    left :0;
    width:100%;
    z-index: 1050;
}
body {
    padding-top: var(--navbar-height, 140px);
    padding-bottom: var(--navbar-height, 60px);
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 1000;
}
.bottom-bar .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #6c757d;
    font-size: 0.85rem;
}
.bottom-bar .nav-link i {
    font-size: 1rem;
    margin-bottom: 3px;
}
.bottom-bar .nav-link span {
    font-size: .7rem; 
}
.bottom-bar .nav-link.active {
    color: #1d6ee5;
}
.v-middle{
    vertical-align:middle;
}
    .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    border-bottom: 1px solid #ddd;
}
.menu-list a {
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background: #fff;
    transition: background 0.2s;
}
.menu-list a span {
    margin-right: 12px;
    font-size: 18px;
}
.menu-list a:hover {
    background: #f5f5f5;
}
.menu-list a.logout {
    color: red;
}
/* .pagination span{
    display: none!important;
} */

#calendar-body td {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13); /* shadow hitam */
}